<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head th:replace="common/admin/fragment::head('Danh sách sản phẩm')">
</head>
<style type="text/css">
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
</style>

<body>
	<div id="app">
		<div th:replace="common/admin/fragment::menu"></div>

		<div id="main">
			<nav th:replace="common/admin/header::header"></nav>

			<div class="gap-sm"></div>

			<form action="/admin/admin-product-import" method="post"
				th:object="${import}">
				<div class="info-product">
					<div class="container-fluid">
						<div class="row ">
							<div class="col-lg-12 col-md-12 ">
								<div class="card w-75 mx-auto">
									<div class="alert alert-${alert}" th:if="${message}"
										role="alert">[[${message}]]</div>
									<div class="card-body ">
										<h1 align="center">Phiếu nhập</h1>
										<div class="form-row">
											<div class="form-group col-md-4 mx-auto">
												<label for="inputEmail4">Người nhập</label>
												<p class="form-control">admin
											</div>
											<div class="form-group col-md-4 mx-auto">
												<label for="inputPassword4">Ngày </label>
												<p class="form-control" id="datetime">
											</div>
										</div>
										<div class="form-group col-md-10 mx-auto">
											<label for="inputNote">Ghi chú</label>
											<textarea class="form-control" id="inputNote"
												placeholder="Ghi chú" th:field="*{note}"></textarea>
										</div>
										<br>
										<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Tìm kiếm sản phẩm... " title="Nhập tên sản phẩm">
										<table class="table table-bordered" id="tableImport">
											<thead>
												<tr>
													<th width="1%">#</th>
													<th width="75%">Tên sản phẩm</th>
													<th width="12%">Đơn giá</th>
													<th width="12%">Số lượng</th>
												</tr>
											</thead>
											<tbody th:object="${details}">
												<th:block th:each="product, idx : ${products}">
													<tr id="myRow">
														<td>[[${idx.index}+1]]</td>
														<td width="75%">
															<div class="form-group">
																<input class="form-control" type="hidden" 
																	name="productId"
																	th:value="${product.id}">
																<p th:text="${product.name}">
															</div>
														</td>
														<td><input class="form-control" type="number"
															placeholder="Nhập giá"
															th:field="*{price}"></td>
														<td><input class="form-control" type="number"
															placeholder="Nhập số lượng"
															th:field="*{quantity}"></td>
													</tr>
												</th:block>
											</tbody>
										</table>
										<button type="submit" class="btn btn-primary">Sign in</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="common/admin/fragment::script"></div>
	<script>
		var today = new Date();
		var date = today.getDate() + '-' + (today.getMonth() + 1) + '-'
				+ today.getFullYear();
		var dateTime = date;
		document.getElementById("datetime").innerHTML = dateTime;

		//search talbe
		function myFunction() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			table = document.getElementById("tableImport");
			tr = table.getElementsByTagName("tr");
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>
</body>

</html>