<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head th:replace="common/web/head::head(Cart)">
</head>
<body>
	<!-- HEADER -->
	<header th:replace="common/web/header::header">
		
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation" th:replace="common/web/navigation::navigation">
	</nav>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">CART</h3>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-lg-12 my-4 mt-3 mb-3 card"
					style="border: 1px solid rgba(214, 214, 214, 0.493); min-height: 600px;">
					<div th:unless="${totalCartItems!=0}" class="text-center">
						<h1 class="mt-5">Bạn không sản phẩm nào trong giỏ hàng!</h1>
						<h3 class="mb-5">Hãy cùng nhau mua sắm nào</h3>
						<a th:href="@{/home}" style="font-size: 24px; font-weight: 600;"
							class="card-link">Quay lại trang chủ <i class="fa fa-home"></i></a>
					</div>

					<table class="table table-bordered mt-3"
						th:if="${totalCartItems!=0}">
						<thead>
							<tr class="text-center">
								<th>STT</th>
								<th>Tên sản phẩm</th>
								<th>Đơn giá</th>
								<th width="1%">Số lượng</th>
								<th>Xoá</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item, count : ${cartItems}">
								<form th:action="@{/cart/update}">
									<td class="text-center" th:text="${count.index+1}"></td>
									<td th:text="${item.productName}"></td>
									<td class="text-center"
										th:text="${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 0, 'DEFAULT')}+ ' VNĐ'"></td>
									<td width="1%">
										<input hidden="hidden" th:value="${item.productId}" name="productId" /> 
										<input type="number" name="quantity" required
											style="width:80px; border: 1px solid rgba(128, 128, 128, 0.24);"
											th:value="${item.quantity}" onchange="this.form.submit();">
									</td>
									<td class="text-center"><a
										th:href="@{'/cart/delete/'+${item.productId}}"
										style="text-decoration: none;"><i class="fa fa-trash"></i></a></td>
								</form>
							</tr>
						</tbody>
					</table>
					<div class="row" th:if="${totalCartItems!=0}">
						<div class="col">
							<p style="font-weight: 700"
								th:text="'Tổng tiền: '+${#numbers.formatDecimal(amount, 1, 'DEFAULT', 0, 'DEFAULT')}+ ' VNĐ'"></p>
							<a class="btn btn-primary" style="cursor: pointer; color: white;"
								onclick="showConfigModalDialog();">Đặt hàng</a>
						</div>
					</div>

					<script>
						function showConfigModalDialog() {
							$('#yesOption').attr('href', 'checkout');
							$('#configmationId').modal('show');
						}
					</script>

					<!-- Modal -->
					<div class="modal" tabindex="-1" role="dialog" id="configmationId">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Xác nhận</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Bạn muốn đặt đơn hàng này?</p>
								</div>
								<div class="modal-footer">
									<a id="yesOption" type="button" class="btn btn-primary">Có</a>
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Không</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>
							Sign Up for the <strong>NEWSLETTER</strong>
						</p>
						<form>
							<input class="input" type="email" placeholder="Enter Your Email">
							<button class="newsletter-btn">
								<i class="fa fa-envelope"></i> Subscribe
							</button>
						</form>
						<ul class="newsletter-follow">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer id="footer" th:replace="common/web/footer::footer">
		
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<div th:replace="common/web/head::script"></div>

</body>
</html>
