<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head th:replace="common/web/head::head(Checkout)"></head>
<body>
	<!-- HEADER -->
	<header th:replace="common/web/header::header"></header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation" th:replace="common/web/navigation::navigation"></nav>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Checkout</h3>
					<ul class="breadcrumb-tree">
						<li><a href="#">Home</a></li>
						<li class="active">Checkout</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<form id="form-bill-user" th:object="${bill}" method="post">
					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>

							<div class="form-group">
								<input class="input" type="text" th:value="${user.firstName}"
									placeholder="First Name">
							</div>
							<div class="form-group">
								<input class="input" type="text" th:value="${user.lastName}"
									placeholder="Last Name">
							</div>
							<div class="form-group">
								<input class="input" type="text" th:field="*{receivedAddress}"
									th:value="${user.address}" placeholder="Address">
							</div>
							<div class="form-group">
								<input class="input" type="tel" th:field="*{receivedPhoneNo}"
									th:value="${user.phoneNumber}" placeholder="Telephone">
							</div>
							<div class="order-notes">
								<textarea class="input" placeholder="Order Notes" th:field="*{note}"
									style="resize: none"></textarea>
							</div>
						</div>
						<!-- /Billing Details -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">

						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div>
									<strong>PRODUCT</strong>
								</div>
								<div>
									<strong>TOTAL</strong>
								</div>
							</div>
							<div class="order-products">
								<div class="order-col" th:each="cart : ${carts}">
									<div>[[${cart.quantity}+'x '+ ${cart.productName}]]</div>
									<div>[[${#numbers.formatDecimal((cart.price*cart.quantity),
										1, 'DEFAULT', 0, 'DEFAULT')}+ ' VNĐ']]</div>
								</div>
							</div>

							<div class="order-col">
								<div>
									<strong>TOTAL</strong>
								</div>
								<div>
									<strong class="order-total">[[${#numbers.formatDecimal(amount,
										1, 'DEFAULT', 0, 'DEFAULT')}+ ' VNĐ']]</strong>
								</div>
							</div>
						</div>
						<div class="payment-method">
<!-- 							<div class="input-radio"> -->
<!-- 								<input type="radio" name="payment" id="payment-1"> <label -->
<!-- 									for="payment-1"> <span></span> Direct Bank Transfer -->
<!-- 								</label> -->
<!-- 								<div class="caption"> -->
<!-- 									<p>Lorem ipsum dolor sit amet, consectetur adipisicing -->
<!-- 										elit, sed do eiusmod tempor incididunt ut labore et dolore -->
<!-- 										magna aliqua.</p> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="input-radio"> -->
<!-- 								<input type="radio" name="payment" id="payment-2"> <label -->
<!-- 									for="payment-2"> <span></span> Cheque Payment -->
<!-- 								</label> -->
<!-- 								<div class="caption"> -->
<!-- 									<p>Lorem ipsum dolor sit amet, consectetur adipisicing -->
<!-- 										elit, sed do eiusmod tempor incididunt ut labore et dolore -->
<!-- 										magna aliqua.</p> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 							<div class="input-radio"> -->
<!-- 								<input type="radio" name="payment" id="payment-3"> <label -->
<!-- 									for="payment-3"> <span></span> Paypal System -->
<!-- 								</label> -->
<!-- 								<div class="caption"> -->
<!-- 									<p>Lorem ipsum dolor sit amet, consectetur adipisicing -->
<!-- 										elit, sed do eiusmod tempor incididunt ut labore et dolore -->
<!-- 										magna aliqua.</p> -->
<!-- 								</div> -->
<!-- 							</div> -->
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms"> <label for="terms">
								<span></span> I've read and accept the <a href="#">terms &
									conditions</a>
							</label>
						</div>
						<button class="primary-btn order-submit">Place
							order</button>

					</div>
					<!-- /Order Details -->
				</form>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section"
		th:replace="common/web/footer::newsletter"></div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer id="footer" th:replace="common/web/footer::footer"></footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<div th:replace="common/web/head::script"></div>

</body>
</html>
