<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:replace="common/web/head::head(Login)">
</head>
<body>
	<header th:replace="common/web/header::header"></header>

	<div class="container">
		<div id="loginbox" style="margin-top: 50px;"
			class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div th:if="${message}" th:class="${alert=='success'} ?'alert alert-success' :'alert alert-danger'}" role="alert">
			  [[${message}]]
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">Sign In</div>
					<div
						style="float: right; font-size: 80%; position: relative; top: -10px">
						<a th:href="@{/register}">Forgot password?</a>
					</div>
				</div>
				<div style="padding-top: 30px" class="panel-body">
					<div style="display: none" id="login-alert"
						class="alert alert-danger col-sm-12"></div>
					<form id="loginform" class="form-horizontal" role="form"
						th:action="@{/login}" method="post" th:object="${userLogin}">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input id="login-username" type="text" class="form-control"
								th:field="*{email}" value="" placeholder="Email">
						</div>
						<div style="margin-bottom: 25px" class="alert alert-danger " th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
						<div style="margin-top: 25px" class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input id="login-password" type="password" class="form-control"
								th:field="*{password}" placeholder="Password">
						</div>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
						<div style="margin-top: 25px" class="form-group">
							<!-- Button -->
							<div class="col-sm-12 controls ">
								<button id="btn-login" class="btn btn-success" formtarget="#loginform">Login </button>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12 control">
								<div
									style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
									Don't have an account! <a th:href="@{/register}">
										Sign Up Here </a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="common/web/footer::footer"></footer>

	<div th:replace="common/web/head::script"></div>
</body>
</html>