<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head th:replace="common/web/head::head(Product)"></head>
<body>
	<header th:replace="common/web/header::header"></header>

	<!-- NAVIGATION -->
	<nav id="navigation" th:replace="common/web/navigation::navigation"></nav>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li><a href="#">Home</a></li>
						<li><a href="#">All Categories</a></li>
						<li><a href="#">Accessories</a></li>
						<li class="active">Headphones (227,490 Results)</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- ASIDE -->
				<div id="aside" class="col-md-3">
					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Danh mục</h3>
						<div class="checkbox-filter">

							<div class="input-checkbox" th:each="category : ${categories}">
								<input type="checkbox" th:id="'category-'+${category.id}">
								<label th:for="'category-'+${category.id}"> <span></span>
									[[${category.name}]] <small>(120)</small>
								</label>
							</div>
						</div>
					</div>
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Price</h3>
						<div class="price-filter">
							<div id="price-slider"></div>
							<div class="input-number price-min">
								<input id="price-min" type="number"> <span
									class="qty-up">+</span> <span class="qty-down">-</span>
							</div>
							<span>-</span>
							<div class="input-number price-max">
								<input id="price-max" type="number"> <span
									class="qty-up">+</span> <span class="qty-down">-</span>
							</div>
						</div>
					</div>
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<!-- 					<div class="aside"> -->
					<!-- 						<h3 class="aside-title">Brand</h3> -->
					<!-- 						<div class="checkbox-filter"> -->
					<!-- 							<div class="input-checkbox"> -->
					<!-- 								<input type="checkbox" id="brand-1"> <label -->
					<!-- 									for="brand-1"> <span></span> SAMSUNG <small>(578)</small> -->
					<!-- 								</label> -->
					<!-- 							</div> -->
					<!-- 							<div class="input-checkbox"> -->
					<!-- 								<input type="checkbox" id="brand-2"> <label -->
					<!-- 									for="brand-2"> <span></span> LG <small>(125)</small> -->
					<!-- 								</label> -->
					<!-- 							</div> -->
					<!-- 							<div class="input-checkbox"> -->
					<!-- 								<input type="checkbox" id="brand-3"> <label -->
					<!-- 									for="brand-3"> <span></span> SONY <small>(755)</small> -->
					<!-- 								</label> -->
					<!-- 							</div> -->
					<!-- 							<div class="input-checkbox"> -->
					<!-- 								<input type="checkbox" id="brand-4"> <label -->
					<!-- 									for="brand-4"> <span></span> SAMSUNG <small>(578)</small> -->
					<!-- 								</label> -->
					<!-- 							</div> -->
					<!-- 							<div class="input-checkbox"> -->
					<!-- 								<input type="checkbox" id="brand-5"> <label -->
					<!-- 									for="brand-5"> <span></span> LG <small>(125)</small> -->
					<!-- 								</label> -->
					<!-- 							</div> -->
					<!-- 							<div class="input-checkbox"> -->
					<!-- 								<input type="checkbox" id="brand-6"> <label -->
					<!-- 									for="brand-6"> <span></span> SONY <small>(755)</small> -->
					<!-- 								</label> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<!-- 					<div class="aside"> -->
					<!-- 						<h3 class="aside-title">Top selling</h3> -->
					<!-- 						<div class="product-widget"> -->
					<!-- 							<div class="product-img"> -->
					<!-- 								<img src="./web/img/product01.png" alt=""> -->
					<!-- 							</div> -->
					<!-- 							<div class="product-body"> -->
					<!-- 								<p class="product-category">Category</p> -->
					<!-- 								<h3 class="product-name"> -->
					<!-- 									<a href="#">product name goes here</a> -->
					<!-- 								</h3> -->
					<!-- 								<h4 class="product-price"> -->
					<!-- 									$980.00 -->
					<!-- 									<del class="product-old-price">$990.00</del> -->
					<!-- 								</h4> -->
					<!-- 							</div> -->
					<!-- 						</div> -->

					<!-- 						<div class="product-widget"> -->
					<!-- 							<div class="product-img"> -->
					<!-- 								<img src="./web/img/product02.png" alt=""> -->
					<!-- 							</div> -->
					<!-- 							<div class="product-body"> -->
					<!-- 								<p class="product-category">Category</p> -->
					<!-- 								<h3 class="product-name"> -->
					<!-- 									<a href="#">product name goes here</a> -->
					<!-- 								</h3> -->
					<!-- 								<h4 class="product-price"> -->
					<!-- 									$980.00 -->
					<!-- 									<del class="product-old-price">$990.00</del> -->
					<!-- 								</h4> -->
					<!-- 							</div> -->
					<!-- 						</div> -->

					<!-- 						<div class="product-widget"> -->
					<!-- 							<div class="product-img"> -->
					<!-- 								<img src="./web/img/product03.png" alt=""> -->
					<!-- 							</div> -->
					<!-- 							<div class="product-body"> -->
					<!-- 								<p class="product-category">Category</p> -->
					<!-- 								<h3 class="product-name"> -->
					<!-- 									<a href="#">product name goes here</a> -->
					<!-- 								</h3> -->
					<!-- 								<h4 class="product-price"> -->
					<!-- 									$980.00 -->
					<!-- 									<del class="product-old-price">$990.00</del> -->
					<!-- 								</h4> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->
					<!-- /aside Widget -->
				</div>
				<!-- /ASIDE -->

				<!-- STORE -->
				<div id="store" class="col-md-9">
					<!-- store top filter -->
					<div class="store-filter clearfix">
						<div class="store-sort">
							<label> Sắp xếp: <select class="input-select">
									<option value="0">Giá</option>
									<option value="1">Mới nhất</option>
							</select>
							</label> <label> Show: <select class="input-select">
									<option value="0">10</option>
									<option value="1">20</option>
							</select>
							</label>
						</div>
					</div>
					<!-- /store top filter -->

					<!-- store products -->
					<div class="row">
						<!-- product -->
						<div class="col-md-4 col-xs-6" th:each="product : ${products}">
							<div class="product">
								<div class="product-img">
									<img th:unless="${#strings.contains({product.image},'https')}"
										th:src="${'data:image/jpeg;base64,'+{product.image}}" alt="">
									<img th:if="${#strings.contains({product.image},'https')}"
										th:src="${{product.image}}" alt="">
									<!-- <div class="product-label">
										<span class="sale">-30%</span> <span class="new">NEW</span>
									</div> -->
								</div>
								<div class="product-body">
									<p class="product-category">[[${product.categoryName}]]</p>
									<h3 class="product-name" th:title="${product.name}"
										style="height: 70px; overflow: hidden">
										<a th:href="'product/detail/'+${product.id}">[[${product.name}]]</a>
									</h3>
									<h4 class="product-price">
										[[${#numbers.formatDecimal(product.price.longValue(), 3,
										'COMMA', 0, 'DEFAULT')}]]₫
										<!-- <del class="product-old-price">$990.00</del> -->
									</h4>
									<!-- <div class="product-rating">
										<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i> <i class="fa fa-star"></i> <i
											class="fa fa-star"></i>
									</div> -->
									<div class="product-btns">
										<button class="add-to-wishlist">
											<i class="fa fa-heart-o"></i><span class="tooltipp">add
												to wishlist</span>
										</button>
										<button class="add-to-compare">
											<i class="fa fa-exchange"></i><span class="tooltipp">add
												to compare</span>
										</button>
										<button class="quick-view">
											<i class="fa fa-eye"></i><span class="tooltipp">quick
												view</span>
										</button>
									</div>
								</div>
								<div class="add-to-cart">
									<form th:action="@{/cart}" method="post">
										<input type="hidden" name="productId" th:value="${product.id}">
										<button class="add-to-cart-btn">
											<i class="fa fa-shopping-cart"></i> add to cart
										</button>
									</form>
								</div>
							</div>
						</div>
						<!-- /product -->
					</div>
					<!-- /store products -->

					<!-- store bottom filter -->
					<div class="store-filter clearfix">
						<span class="store-qty">Showing 20-100 products</span>
						<ul class="store-pagination">
							<li class="active">1</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
					<!-- /store bottom filter -->
				</div>
				<!-- /STORE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section"
		th:replace="common/web/footer::newsletter"></div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<footer id="footer" th:replace="common/web/footer::footer"></footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<div th:replace="common/web/head::script"></div>

</body>
</html>
