<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[[${title}]]</title>
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
<link type="text/css" rel="stylesheet" th:href="@{/web/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/web/css/slick.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/web/css/slick-theme.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/web/css/nouislider.min.css}" />
<link rel="stylesheet" th:href="@{/web/css/font-awesome.min.css}">
<link type="text/css" rel="stylesheet" th:href="@{/web/css/style.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/web/css/style-custom.css}" />
</head>
<body>


	<div th:fragment="script" th:remove="tag">
		<script th:src="@{/web/js/jquery.min.js}"></script>
		<script th:src="@{/web/js/bootstrap.min.js}"></script>
		<script th:src="@{/web/js/slick.min.js}"></script>
		<script th:src="@{/web/js/nouislider.min.js}"></script>
		<script th:src="@{/web/js/jquery.zoom.min.js}"></script>
		<script th:src="@{/web/js/main.js}"></script>
	</div>
</body>
</html>